@import '../../../app.scss';

.navFind {
    width: 99%;
    min-height: 60px;
    background-color: rgba(240, 248, 255, 0);
    padding-top: 2rem;
    position: relative;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .navSearch {
        display: flex;
        align-items: center;
        background-color: $colorG;
        padding: 3px;
        border-radius: 12px;
        border: solid 1px $colorB;
        width: 220px;

        .nfIcon {
            color: rgba(128, 128, 128, 0.685);
        }

        input {
            border: none;
            background-color: $colorG;

            &::placeholder {
                color: rgba(128, 128, 128, 0.685);
            }
        }
    }

    .nfInput {
        background-color: $colorG;
        padding: 3px;
        border-radius: 12px;
        width: 220px;
        height: 25px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $colorB;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: $colorD;
        }
    }

    .nfCategory {
        position: absolute;
        background-color: $colorD;
        width: 217px;
       top: 100%;
        right: 16.5%;
        border-radius: 0 0 12px 12px;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        transition: .3s ease-in-out;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 5;

        .nfCatIns {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 6px 0 6px 6px;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover {
                background-color: $colorC;
            }

            img {
                width: 20px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    .nfOpen {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}