@import '../../../../app.scss';

.unseenOrders {
    width: 70vw;
    height: auto;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;

    .gtpContainer {
        width: 100%;
        height: 80%;
        border: solid 1px gray;
        border-radius: 6px;
        padding: 6px;

        .gtpFuntions {
            display: flex;
            justify-content: space-around;
            align-items: center;

            p {
                font-size: 12px;
            }

            .gtpSearch {
                display: flex;
                justify-content: space-around;
                align-items: center;

                input {
                    border-radius: 6px;
                    border: 1px solid $colorG;
                    height: 30px;
                    padding-left: 3px;

                    &::placeholder {
                        color: $colorD;
                    }
                }
            }
        }
    }
}